.header
{
    width: 101%;
    height: 80px;
    margin: -8px 0px 0px -8px;
    background-color: white;
}
.logo img
{
 margin: 20px 0px 0px 50px;
}
.flex-nav ol
{
    display: flex;
    justify-content: space-evenly;
    margin: -30px 0px 0px 750px;
}
.nav ol a
{
 list-style-type: none;
 text-decoration: none;
 color: #014392;
 font-size: 18px;
 font-family: sans-serif;
 font-weight: initial;
}

/*---------------------------------------------End Of Header----------------------------------------------------*/

.container1
{
    border: solid 2px  rgb(245,247,251);
    width: 100.8%;
    height: 1150px;
    margin: 0px 0px 0px -8px;
    background-color: rgb(245,247,251);
}
.text1
{
    font-size: 60px;
    font-weight: bolder;
    font-family: sans-serif;
    text-align: center;
    margin-top: 25px;
}
.text2
{
    font-size: 25px;
    font-weight: initial;
    font-family: sans-serif;
    text-align: center;
    margin-top: 23px;
}
.btn button
{
    padding: 15px 35px 15px 35px;
    font-size: 20px;
    border-radius: 35px;
    margin: 35px 0px 0px 655px;
    color: white;
    background-color: #0693e3;
    border: none;
    font-weight: bold;
}
.bg-img video
{
    height: 650px;
    width: 650px;
    margin: -30px 0px 0px 420px;
}
.code img
{
    height: 100px;
    width: 100px;
}
.text3
{
    font-size: 35px;
    font-weight: bolder;
    font-family: sans-serif;
    text-align: center;
}
.text4
{
    font-size: 20px;
    font-weight: initial;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
}

.btn1 button
{
    padding: 15px 5px 5px 0px;
    border-radius: 10px;
    margin: 30px 0px 0px 750px;
}
.btn1 img
{
    height: 30px;
    width: 30px;
    margin: -7px 0px -7px -110px;
    border: none;
}
.text5
{
    margin: -32px 0px 0px 50px;
    font-family: sans-serif;
    font-weight: initial;
    font-size: 15px;
}
.text6
{
    margin: 0px 0px 0px 35px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 19px;
}
.btn2 button
{
    padding: 15px 5px 5px 20px;
    border-radius: 10px;
    margin: -52px 0px 500px 560px;
    position: absolute;
}
.btn2 img
{
    height: 30px;
    width: 30px;
    margin: -7px 0px -7px -110px;
    border: none;
}
.text7
{
    margin: -30px 0px 0px 0px;
    font-family: sans-serif;
    font-weight: initial;
    font-size: 15px;
} 
.container2
{
    height: 630px;
    width: 100%;
}
.flex-box
{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 100px 0px 100px;
}
.box1
{
    height: 600px;
    width: 600px;
}
.box2
{
    height: 600px;
    width: 600px;

}
.box2 video
{
    height: 500px;
    width: 486px;
    margin: 45px 0px 0px -10px;
    position: relative;
}
.box2 img
{
    height: 525px;
    width: 256px;
    margin: 32px 0px 0px -371px;
    position: absolute;
    box-shadow: 0px 0px 10px rgb(110, 211, 255);
    border-radius: 30px;
}
.text8
{
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 35px;
}
.text8 b
{
    color: #0693e3;
}
.text9
{
    font-size: 20px;
    font-weight: initial;
    font-family: sans-serif;
    color: rgb(102, 101, 101);
    margin-top: 35px;
}
.btn3 button
{
    padding: 15px 35px 15px 35px;
    font-size: 20px;
    border-radius: 35px;
    margin: 35px 0px 0px 0px;
    color: white;
    background-color: #0693e3;
    border: none;
    font-weight: bold;
}
.container3
{
    border: solid 2px #0693e3;
    height: 350px;
    width: 100.8%;
    margin-left: -8px;
    background-color: #0693e3;
}
.text10
{
    font-size: 45px;
    font-weight: bolder;
    font-family: sans-serif;
    text-align: center;
    color: white;
    margin: 70px 0px 0px 0px;
}
.text11
{
    font-size: 24px;
    font-weight: initial;
    font-family: sans-serif;
    text-align: center;
    color: white;
    margin: 20px 0px 0px 0px;
}


/*----------------------------------------FOOTER----------------------------*/
 
.footer
{
    width: 100.8%;
    height: 200px;
    margin: 100px 0px 0px -8px;
    background-color: whitesmoke;
}
.f-logo img
{
    margin: 60px 0px 0px 100px;
}
.text24
{
    color: rgb(99, 97, 97);
    font-weight: initial;
    font-family: sans-serif;
    margin: 0px 0px 0px 100px;
}
.flex-footer ol 
{
    display: flex;
    justify-content: space-evenly;
    margin: -30px 600px 0px 400px;
}
.f1 ol a
{
    text-decoration: none;
    list-style-type: none;
    color: rgb(99, 97, 97);
    font-weight: initial;
    font-family: sans-serif;

}
.f1 ol a:hover
{
    text-decoration: underline;
}
.social img
{
    margin: 10px -570px 0px 600px;
}
.text22
{
    color: rgb(99, 97, 97);
    font-weight: bold;
    font-family: sans-serif;
    margin: -40px 0px 0px 550px;
    font-size: 35px;
}
.text23
{
    color: rgb(99, 97, 97);
    font-weight: initial;
    font-family: sans-serif;
    margin: -85px 0px 0px 1100px;
    font-size: 17px;
} 